<nav class="navbar navbar-default">
	<div class="container-fluid">

		<ul class="nav nav-pills navbar-nav">
			<li>
				<a href="{{site.baseurl}}">
						<span class="fa-stack">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-home fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
		</ul>
		<!--<ul class="nav navbar-nav">-->
		<!--<li class="active"><a href="#">Home</a></li>-->
		<!--<li><a href="#">Page 1</a></li>-->
		<!--<li><a href="#">Page 2</a></li>-->
		<!--<li><a href="#">Page 3</a></li>-->
		<!--</ul>-->
	</div>
</nav>